# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
/build/
/out/
/Debug/
/Release/
/lib/Catch2/
/x64/
/x86/
/.vs/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/install_manifest.txt

# IDE specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Generated documentation
/doc/html/
/doc/latex/
